<h2>SIGN UP!</h2>
<form action="/users/signup" method="POST">
<label><strong>username:</strong><input type="text" name="username"></label>
<label><strong>password:</strong><input type="password" name="password"></label>
<button type="sumbit">Submit</button>

</form>